* {
    margin: 0rem;
}

.header {
    width: 92.4rem;
    background-color: white;
    color: #000;
    height: 3.5rem;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);


}

.header li {
    display: inline-block;
}

.NavHome {
    width: 8rem;
    color: #000;
    font-size: 1.2rem;
    position: absolute;
    left: 0rem;
    top: .5rem;
    font-weight: 500;
}


@media screen and (min-width: 350px) and (max-width: 760px) {
    .header {
        /* Adjust styles specific to the header in this screen size range */
        /* For example, you can change the height, font-size, etc. */
        height: 2.5rem;
    }

    .NavHome {
        /* Adjust styles specific to .NavHome in this screen size range */
        /* For example, you can change the width, font-size, etc. */
        width: 6rem;
        font-size: 1rem;
        font-weight: 700;
    }
}
